.help-screen {
  background: #fff;
  height: 100%;
  margin: 0;
  padding-left: 223px;
  position: relative;
  overflow: hidden;

  > .sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    @include native-sidebar;

    h4 {
      @include native-sidebar-title;
    }

    ul {
      @include native-items-list;

      li {
        cursor: pointer;
        @include system-text;

        a {
          display: block;
        }

        &.selected a {
          color: white;
        }
      }
    }
  }

  > .content {
    padding: 10px 0 10px 0;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 100%;

    .page {
      display: none;

      &.intro {
        display: block;
      }

      > h2 {
        font-size: 20px;
        margin: 4px 0;
      }
    }

    .page.get-postgres {
      article {
        margin-top: 17px;

        & ~ article {
          margin-top: 20px;
        }

        > h5 {
          font: {
            size: 16px;
            weight: bold;
          };
          margin: 0 0 10px 0;
        }

        p + p {
          margin-top: 10px;
        }

        a.download {
          margin-top: 4px;
          text-decoration: underline;
        }

        code {
          display: block;
          font-family: $code-font;
          border: 1px solid rgba(114, 160, 197, 0.5);
          padding: 3px 5px;
          background: rgba(114, 160, 197, 0.15);
          white-space: pre-line;
          margin: 4px 0;
        }
      }
    }

    .page.about-postbird {
      .logo {
        margin: 10px 0;

        img {
          max-width: 100px;
        }
      }
    }
  }
}
