.main-screen
  :height 100%
  position: relative
  > *
    +box-sizing(border-box)
    :height 100%

  > .main
    :margin-left 30%
    :padding
      :left 9px
      :top 33px
      :right 5px
    :overflow-y auto
    :position relative
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    .window-tabs
      :position absolute
      :top 0
      :left 9px
      +children-inline
      :padding 3px 0
      :margin-bottom 8px
      > *
        :padding 0 5px
        :margin-right 5px
        :background rgba(#000, 0.1)
        +system-text
        &.active
          :background rgba(#038, 0.15)
    .window-content
      :display none
      &.active
        :display block

body.sidebar-resizing
  cursor: ew-resize
  *
    +unselectable