body.new-window {
  background: $mac-window-background;
}

body.snippets {
  overflow: auto;
}

.snippets-window {
  background: $mac-window-background;

  > ul {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    width: 35%;
    background: #F9F9F9;
    border-right: 1px solid #B4B4B4;
    position: fixed;
    top: 0;
    left: 0;

    //padding: 6px 10px
    vertical-align: top;

    @include native-items-list;

    overflow-y: auto;

    > li {
      padding-left: 12px;

      &:before {
        display: none;
      }
    }
  }

  .preview {
    display: inline-block;
    width: 64%;
    min-height: 100%;
    box-sizing: border-box;
    padding: 12px 10px;
    vertical-align: top;
    margin-left: 35%;
    // overflow: auto;

    p {
      margin-bottom: 12px;
    }

    code.result {
      white-space: pre-wrap;
      font-family: $code-font;
      margin-bottom: 12px;
    }
  }
}
