.window-content.content {
  max-height: calc(100% - 20px);
  height: calc(100% - 20px);
  overflow: auto;

  &.reloading {
    li.reload {
      background: rgba(0, 0, 0, 0.1);

      a {
        text-decoration: none;
        cursor: default;
      }
    }
  }

  .rescol-wrapper {
    height: calc(100% - 29px);
  }

  .rescol-header-wrapper {
    &:after {
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: 0px;
      height: 1px;
      background: #d6d6d6;
    }
    table {
      border: none;
      border-bottom: 1px solid #d6d6d6;
    }
  }
  .rescol-content-wrapper {
    table {
      border: none;
    }
  }

  .content-filter {
    background: $mac-window-background;
    border-bottom: 1px solid #9d9d9d;
    font-size: 12px;
    padding: 5px 7px;
    select {
      background-color: $mac-window-background;
      border: 1px solid #a5a5a5;
      border-radius: 4px;
      outline: 0;
    }
  }

  //@extend .window-content.structure
  table {
    tr {
      th {
        max-width: 200px;

        @include truncate;
      }

      td {
        &:not(.expanded) {
          @include truncate;
        }

        &.expanded {
          word-break: break-all;
          white-space: pre-wrap;
        }

        min-width: 23px;
        max-width: 250px;

        span.text {
          width: 100%;
          min-width: 100px;
        }

        span.wrong-json {
          background: rgba(255, 192, 203, 0.56);
        }

        span.type-xml {
          //white-space: pre-line
       
        }

        time {
          @include inline-block;

          min-width: 55px;
        }
      }
    }
  }

  .summary-and-pages {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top-color: #dfdfdf;
  }

  .native-footer-bar {
    position: fixed;
    margin-left: $sidebar-width;

    @include native-footer-bar;

    li {
      padding-right: 5px;
    }

    li + li {
      padding-left: 5px;
    }

    li.prev {
      display: none;
    }
  }
}
