.window-content.query {
  height: 100%;
  margin-bottom: -27px;

  .editing {
    height: 50%;

    textarea {
      width: 90%;
      min-height: 90%;
    }

    .CodeMirror {
      height: 100%;
    }
  }

  .middlebar {
    background: #F5F5F5;
    background-image: url("images/middlebar_bg.png");
    background-size: 1px 108%;
    background-repeat: repeat-x;
    padding-left: 9px;
    padding-bottom: 4px;
    margin-bottom: 7px;
    border-bottom: 1px solid #A8A8A8;

    .resizer {
      border-top: 1px solid #BEBEBE;
      border-bottom: 1px solid #CECECE;
      background: #EDEDED;
      height: 3px;
      cursor: ns-resize;
      margin-bottom: 4px;
      margin-left: -9px;
    }
  }

  .result {
    padding: 0 9px;
    width: 100%;
    height: calc(50% - 42px);
    overflow-x: auto;

    //padding-bottom: 9px
    box-sizing: border-box;

    .rescol-wrapper {
      height: calc(100% - 19px);
    }

    .command_EXPLAIN td {
      white-space: pre;
    }

    .type-xml {
      white-space: pre;
      word-break: break-all;
    }

    i.null {
      font-style: normal;
      color: #b8b8b8;
      font-size: 12px;
      opacity: 0.75;
    }

    span.wrong-json {
      background: rgba(255, 192, 203, 0.56);
    }

    table {
      margin-bottom: 3px;

      th {
        background: #f5f5f5;
      }

      td {
        white-space: pre;
      }

      //margin-right: 9px
   
    }
  }
}
