.window-content.structure {
  padding: 9px;
  box-sizing: border-box;

  .indexes-list-table {
    margin-bottom: 10px;
    margin-top: 10px;
    height: auto;
  }

  .columns-list-table {
    height: auto;
    margin-bottom: 10px;
  }

  .object-details-table {
    background: #f8f8f8;
    width: 100%;
    margin-top: 10px;
    padding: 12px 0px;
    td {
      line-height: 20px;
      padding-top: 4px;
      padding-bottom: 4px;
    }
    tr td:first-child {
      width: 50px;
      white-space: nowrap;
      text-align: right;
      padding-right: 11px;
      padding-left: 22px;
    }
  }
}

.big-data-table {
  //overflow: auto
  max-width: 100%;
  max-height: 100%;

  table {
    empty-cells: show;
    max-width: 100%;

    //thead tr
    //  display: block
    //  position: relative
    //tbody
    //  display: block
    //  overflow: auto
 
  }
}
