.big-data-table
  table.native-look-table
    thead
      tr
        each column in data.fields
          - var type = column_type_label(types[column.name])
          - var dir = sorting.column == column.name ? sorting.direction : ''
          th(class= 'format-' + type, title=type, sortable=column.name, sortable-dir=dir)= column.name
    tbody
      each row in data.rows
        tr
          each column in data.fields
            td!= formatCell(row[column.name], types[column.name].real_format, types[column.name].data_type)

.summary-and-pages.native-footer-bar
  ul
    //li
    //  a Add
    //li
    //  a Remove
    //li
    //  a Duplicate
    li.info

    li.pages.prev
      a(exec="prevPage") Prev
    li.pages.next
      a(exec="nextPage") Next
    li.reload
      a(exec="reloadData") Reload