table.native-view
  thead
    tr
      each column in data.fields
        th(class= 'format-text')= column.name
  tbody
    each row in data.rows
      tr
        each column in data.fields
          td!= formatCell(row[column.name], 'text')
