table
  thead
    tr
      th name
      th default version
      th installed_version
      th 
  tbody
    each column in rows
      tr
        td= column.name
        td= column.default_version
        td
          if column.installed_version
            strong= column.installed_version
          else
            button Install
        td= column.comment