<!DOCTYPE html>
<html>
  <head>
    <title>Postbird Console</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/style.css" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../public/jquery.js"></script>
    <script>
      window.$ = window.jQuery = require('../public/jquery.js');
    </script>
    <script type="text/javascript" src="../public/mousetrap.js"></script>
    <script type="text/javascript" src="../public/highlightjs/highlight.js"></script>
    <script type="text/javascript" src="../public/highlightjs/languages/sql.js"></script>
    <script type="text/javascript" src="../public/highlightjs/languages/pgsql.js"></script>
    <script type="text/javascript" src="../app/window_handlers/history_window_loader.js"></script>
  </head>
  <body class="new-window">
  </body>
</html>