.home-screen
  .sidebar
    h4 Saved connections
    ul.connections

  form.middle-window.plain
    p
      label(for="login_host") Host
      input#login_host(name='host', value='localhost')
    p
      label(for="login_port") Port
      input#login_port(name='port', value='5432')
    p
      label(for="login_username") Username
      input#login_username(name='user', value='pavel')
    p
      label(for="login_password") Password
      input#login_password(name='password', type='password', value='')

    p.buttons
      input(type="submit", value="Connect")
      button#save-and-connect Save & connect

  .middle-window.heroku-1
    h5 Heroku login

    p!= link_to("Access with OAuth", '#', {exec: 'startHerokuOAuth'})
    p!= link_to('Access with "$ heroku" command line tool', '#')

  .middle-window.heroku-oauth
    ul.steps
      li.access-token Grand access
      li.request-token Request Token
      li.get-apps Get applications list
    ul.apps
    ul.steps
      li.database-url Database URL
      li.connect-db Connect to DB

  .middle-window.heroku-cl
    ul
      li Detect command line utilite
      li Get applications list

  footer
    != link_to("Login with heroku", '#', {exec: 'showHerokuPane1'})
    br
    a.go-to-help Get Postgres
