.home-screen
  form
    p
      label Host
      input(name='host', value='localhost')
    p
      label Port
      input(name='port', value='5432')
    p
      label Username
      input(name='user', value='pavel')
    p
      label Password
      input(name='password', type='password', value='')

    p
      input(type="submit") Connect