.summary
  p
    = "Type: "
    strong= relType
  p
    = "Estimate rows count: "
    = recordsCount
  p
    = "Size on disk: "
    = tableSize

h4 Source SQL

if source.source
  code.result.sql= source.source
else
  code.result
    strong= "Error happen while running pg_dump:\n"
    = source.error
