.editing
  textarea.editor
.middlebar
  .resizer
  button.native-look(exec="runQuery" title="Cmd+R") Run Query
  button.native-look(exec="showHistory") See History
  button.native-look(exec="openSnippets") Snippets
  button.native-look.is-hidden.cleanButton(exec="cleanButtonClick") Clear
.result
  table
  .status