.editing
  textarea.editor
.middlebar
  .resizer
  button.native-look(exec="runQuery") Run Query
  //button.native-look(exec="runQuery") See History
  button.native-look(exec="openSnippets") Snippets
.result
  table
  .status