.editing
  textarea.editor
.middlebar
  .resizer
  button.native-look(exec="runQuery" title="Cmd+R") Run Query
  button.native-look(exec="showHistory") See History
  button.native-look(exec="openSnippets") Snippets
  button.native-look(exec="saveSnippet" title="Cmd+S") Save Snippet
  button.native-look.is-hidden.cleanButton(exec="cleanButtonClick" title="Clear results bellow") Clear
  button.native-look.is-hidden.saveButton(exec="saveQueryResult" title="Save Result as CSV file") Save as CSV
.result
  .rescol-wrapper
    .rescol-header-wrapper
    .rescol-content-wrapper
      table
  .status