<!DOCTYPE html>
<html>
  <head>
    <title>Postbird Snippets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../assets/styles/style.css" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../lib/zepto.js"></script>
    <script type="text/javascript" src="../lib/zepto_extra.js"></script>
    <script type="text/javascript" src="../lib/colResizable.js"></script>
    <script type="text/javascript" src="../lib/mousetrap.js"></script>
    <script type="text/javascript" src="../lib/highlightjs/highlight.js"></script>
    <script type="text/javascript" src="../lib/highlightjs/languages/sql.js"></script>
    <script type="text/javascript" src="../app/window_handlers/snippets_window_loader.js"></script>
  </head>
  <body>
  </body>
</html>