.rescol-wrapper.with-borders
  .rescol-header-wrapper
  .rescol-content-wrapper
    table
      thead
        tr
          th Role name
          th List of roles
          th Member of
          th(style="max-width: 250px") Owned Databases
          th
      tbody
        each user in rows
          tr
            td
              if currentUser == user.rolname
                strong= user.rolname
                br
                small (current user)
              else
                = user.rolname
            td(style="max-width: 180px")= user.roles.join(', ')
            td.memberof-value= user.memberof
            td(style="max-width: 250px")= user.owned_dbs
            td
              a(exec="editUser('" + user.rolname + "')") Edit
              = " "
              a(exec="deleteUser('" + user.rolname + "')") Delete
              = " "
              a(exec="getGrants('" + user.rolname + "')") Grants

footer
  button.native-look.createUserBtn(exec="newUserDialog") Create new user
  //button.native-look.createRoleBtn(exec="newRole") Create new role