table.native-look-table
  thead
    tr
      th(width="70") Role name
      th(width="25%") List of roles
      th(width="50") Member of
      th(width="25%") Owned Databases
      th(width="50")
  tbody
    each user in rows
      tr
        td= user.rolname
        td= user.roles.join(', ')
        td= user.memberof
        td= user.owned_dbs
        td
          a(exec="editUser('" + user.rolname + "')") Edit
          = " "
          a(exec="deleteUser('" + user.rolname + "')") Delete

footer
  button.native-look.createUserBtn(exec="newUserDialog") Create new user
  button.native-look.createRoleBtn(exec="newRole") Create new role