- data = data || {}

form
  p
    label Name
    input(name="name", value = data.column_name)

  p
    label Type
    select(name="type")
      option
      each types, group in groupedTypes
        optgroup(label = group)
        each type in types
          if type
            option(value = type.name, title = type.description, selected = (data.data_type == type.name))= type.name
  p
    = "See "
    a(href="http://www.postgresql.org/docs/8.4/static/datatype.html", target="new") documentation for datatypes

    p
    label Default value
    input(name="default_value", value = data.column_default)

  p
    label Max length
    input(name="max_length", value = data.character_maximum_length)

  p
    label
      input(type="hidden", name="allow_null" value="0")
      input(type="checkbox" name="allow_null" value="1", checked = (data.is_nullable == 'YES'))
      = "Allow null"

  input.pseudo-hidden(type="submit")
  p.buttons
    if action == "edit"
        button.ok Update column
    else
        button.ok Add column
    button.cancel cancel
