
form
  p
    label Name
    input(name="name")

  p
    label Type
    select(name="type")
      each types, group in groupedTypes
        optgroup(label = group)
        each type in types
          if type
            option(value = type.name, title = type.description)= type.name
  p
    = "See"
    a(href="http://www.postgresql.org/docs/8.4/static/datatype.html", target="new") documentation for datatypes

    p
    label Default value
    input(name="default_value")

  p
    label Max length
    input(name="max_length")

  p
    label
      input(type="checkbox" name="allow_null" value="1")
      = "Allow null"

  input.pseudo-hidden(type="submit")
  p.buttons
    button.ok Add column
    button.cancel cancel
