strong= name

code.connection-info
  = connectionUrl

p
  i= "Note: This information can be changed in future by heroku"

button.save-conn.native-look Save locally
button.cancel.native-look(autofocus=true) Close