
form
  p
    label(for="index_name_field") Name
    input#index_name_field(name="name", placeholder="optional" type="text")

  p
    label Columns
    ul.columns-names
      each column in columns
        li
          label
            input(type="checkbox", name="columns[" + column.column_name + "]", value= column.column_name)
            = column.column_name
  p
    label(for="index_uniq_field") Uniq
    input#index_uniq_field(type="checkbox", name="uniq", value="1")

  p
    label(for="index_method_field") Index Type
    select#index_method_field(name="method")
      option(value="btree") btree
      option(value="hash") hash
      option(value="gist") gist
      option(value="spgist") spgist
      option(value="gin") gin
      option(value="brin") brin
    br
    a(href="https://www.citusdata.com/blog/2017/10/17/tour-of-postgres-index-types/" class="external docs-link") About Index Types

  input.pseudo-hidden(type="submit")
  p.buttons
    button.ok Add Index
    button.cancel Cancel
