.rescol-wrapper.with-borders
  .rescol-header-wrapper
  .rescol-content-wrapper
    table
      thead
        tr
          th name
          th trusted
      tbody
        each lang in langs
          tr
            td= lang.lanname
            td= lang.lanpltrusted ? "Yes" : "No"

p
  = "You can add and remove languages on extension tab"

p.buttons
  button.cancel Close

