form
  p
    label Table name
    input(name="name" type="text")

  p
    label Tablespace
    select(name="tablespace")

  input.pseudo-hidden(type="submit")

  p.buttons
    button.ok Create Table
    button.cancel Cancel
