form
  p
    label Name
    input(name="username", value=user.rolname type="text")
  p
    label Password
    input(name="password" type="text")
  //p
  //  label Password (again)
  //  input(name="password_again")
  p
    label
      input(type="checkbox" name="admin" value="1" checked=!!user.rolsuper)
      = "Admin?"
  input.pseudo-hidden(type="submit")
  p.buttons
    button.ok= buttonText || "Create User"
    button.cancel cancel
