<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>sql</string>
      </array>
      <key>CFBundleTypeIconFile</key>
      <string>SQL.icns</string>
      <key>CFBundleTypeName</key>
      <string>SQL File</string>
      <key>CFBundleTypeOSTypes</key>
      <array>
        <string>sqlt</string>
      </array>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>NSDocumentClass</key>
      <string>SPDocumentController</string>
    </dict>
  </array>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleURLName</key>
      <string>Postgres Database</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>postgres</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
