@mixin inline-block($align: top) {
  display: inline-block;
  vertical-align: $align;
}

@mixin children-inline($align: top) {
  > * {
    @include inline-block($align);
  }
}

@mixin truncate {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin unselectable {
  user-select: none;
}

@mixin gradient($from, $to) {
  background: {
    color: $from;
  };
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$from}', endColorstr='#{$to}')";
  background: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
  background: -moz-linear-gradient(top, $from, $to);
  background: linear-gradient(top, $from, $to);
}
