.rescol-wrapper {
  overflow-x: auto;
  overflow-y: auto;
  height: 100%;
  position: relative;
}

.rescol-wrapper {
  .rescol-header-wrapper {
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  .rescol-content-wrapper {
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }

  table {
    table-layout: auto;
    empty-cells: show;
    border: 1px solid #d6d6d6;
    border-collapse: separate;
    border-spacing: 0;
    overflow: auto;
    max-height: 100%;
    /*
  
    */
  }

  table th {
    background: white;
    font-weight: normal;
    padding: 4px 5px;
    //border-right: 1px solid #ccc;
    text-align: left;
    position: relative;
  }

  table td {
    //border-right: 1px solid #ccc;
    padding: 2px 3px;
  }

  table tr:nth-child(even) td {
    background: #f5f5f5;
  }

  table.shadow-headers {
    overflow: hidden;
  }

  table.shadow-headers th {
    position: relative;
  }

  .rescol-content-wrapper {
    table {
      border-bottom-color: #fff;
    }
  }

  .rescol-header-wrapper {
    table {
      border-bottom-color: #d6d6d6;
    }

    .dragger {
      position: absolute;
      width: 4px;
      top: 0;
      right: -1px;
      bottom: 0;
      background: transparent;
      cursor: col-resize;
      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 1px;
        top: 2px;
        bottom: 2px;
        background: #e5e5e5;
      }
    }

    .dragger.moving {
      background: transparent;
    }
  }
}

table.native-look-table {
  display: none;
}