.rescol-wrapper {
  overflow-x: auto;
  overflow-y: auto;
  height: 100%;
  position: relative;
}

.rescol-wrapper {
  .rescol-header-wrapper {
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  .rescol-content-wrapper {
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }

  table {
    table-layout: auto;
    empty-cells: show;
    border: 1px solid #d6d6d6;
    border-collapse: separate;
    border-spacing: 0;
    overflow: auto;
    max-height: 100%;
    background: #fff;
    /*
  
    */
  }

  table th {
    background: white;
    font-weight: normal;
    padding: 4px 5px;
    //border-right: 1px solid #ccc;
    text-align: left;
    position: relative;
    &[sortable-dir='asc'], &[sortable-dir='desc'] {
      &:before {
        content: '\2303';
        display: block;
        position: absolute;
        color: #9f9f9f;
        top: 6px;
        right: 4px;
        font-size: 12px;
      }
    }
    &[sortable-dir='desc'] {
      &:before {
        -webkit-transform: rotate(180deg);
        top: 3px;
      }
    }
  }

  table td {
    //border-right: 1px solid #ccc;
    padding: 2px 5px;
  }

  table tr:nth-child(even) td {
    background: $mac-table-even-row-dg;
  }

  table.shadow-headers {
    overflow: hidden;
  }

  table.shadow-headers th {
    position: relative;
  }

  .rescol-content-wrapper {
    table {
      border-bottom-color: #fff;
      tr.selected td {
        background: $mac-item-selected-inactive-bg;
        color: black;
      }
      &.active tr.selected td {
        background: $mac-item-selected-bg;
        color: white;
        a {
          color: white;
        }
      }
    }
  }

  .rescol-header-wrapper {
    table {
      border-bottom-color: #d6d6d6;
    }

    .dragger {
      position: absolute;
      width: 4px;
      top: 0;
      right: -1px;
      bottom: 0;
      background: transparent;
      cursor: col-resize;
      &:after {
        content: '';
        position: absolute;
        display: block;
        width: 1px;
        top: 2px;
        bottom: 2px;
        background: #e5e5e5;
      }
    }

    .dragger.moving {
      background: transparent;
    }
  }

  &.with-borders {
    .rescol-content-wrapper table {
      border: 1px solid #d6d6d6;
    }
  }
}
