$unfocus-list-item-bg: #dcdcdc;

body.unfocused {
  #tabs {
    background: #ececec;
    .tab {
      background: #ececec;
      border-color: #dbdbdb;
      &.active {
        background: #f1f1f1;
      }
    }
    &:after {
      background: #dbdbdb;
    }
  }

  .rescol-wrapper .rescol-content-wrapper table.active tr.selected td {
    background: $unfocus-list-item-bg;
    color: #212121;
  }

  .main-screen > .sidebar > .tables > ul > li > ul > li.selected {
    background: $unfocus-list-item-bg;
    color: #212121;
  }

  .login-screen .sidebar ul > li.selected {
    background: $unfocus-list-item-bg;
    color: #212121;
  }

  .main-screen > .sidebar, .login-screen .sidebar {
    background: #f6f6f6;
    border-right-color: #dfdfdf;
  }

  .login-screen .middle-window .header-tabs {
    a.selected {
      color: #000;
      background: #e5e5e5;
      border-top-color: #c8c8c8;
      border-bottom-color: #a7a7a7;
      border-left-color: #c1c1c1;
    }
  }
}
