$unfocus-list-item-bg: #dcdcdc;
$unfocus-sidebar-bg: #f3f3f3;

body.unfocused {
  #tabs {
    background: #dcdbdb;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
    .tab {
      // background: rgba(#acabab, 0.3);
      border-color: #dbdbdb;
      color: #a09f9f;
      &.active {
        background: #e9e8e8;
        color: #a9a8a8;
      }
    }
    &:after {
      background: #dbdbdb;
    }
  }

  .rescol-wrapper .rescol-content-wrapper table.active tr.selected td {
    background: $unfocus-list-item-bg;
    color: #212121;
  }

  .main-screen > .sidebar > .tables > ul > li > ul > li.selected {
    background: $unfocus-list-item-bg;
    color: #212121;
  }

  .login-screen .sidebar ul > li.selected {
    background: $unfocus-list-item-bg;
    color: #212121;
  }

  .main-screen > .sidebar, .login-screen .sidebar {
    background: $unfocus-sidebar-bg;
    border-right-color: #dfdfdf;
  }

  .login-screen .middle-window .header-tabs {
    a.selected {
      color: #000;
      background: #e5e5e5;
      border-top-color: #c8c8c8;
      border-bottom-color: #a7a7a7;
      border-left-color: #c1c1c1;
    }
  }
}
