.import-file-dialog
  header
    margin-bottom: 15px
    code
      padding: 5px
      background: #f5f5f5
      display: block
      font-family: Consolas, Menlo, Monaco, Lucida Console, Courier New, monospace, serif
      word-break: break-all

  form
    code
      margin: 13px 0
      display: none
      padding: 5px
      background: #f5f5f5
      overflow: auto
      max-height: 300px
      font-family: Consolas, Menlo, Monaco, Lucida Console, Courier New, monospace, serif
      box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.25)

  &.importing
    form code
      display: block