/*
 *Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org> */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #f0f0f0;
  -webkit-text-size-adjust: none;
  color: black;
}

.hljs-subst, .hljs-tag .hljs-title, .nginx .hljs-title {
  color: black;
}

.hljs-string, .hljs-title, .hljs-constant, .hljs-parent, .hljs-tag .hljs-value, .hljs-rules .hljs-value, .hljs-preprocessor, .hljs-pragma, .haml .hljs-symbol {
  color: #800;
}

.ruby .hljs-symbol {
  color: #800;

  .hljs-string {
    color: #800;
  }
}

.hljs-template_tag, .django .hljs-variable, .smalltalk .hljs-class, .hljs-addition, .hljs-flow, .hljs-stream, .bash .hljs-variable {
  color: #800;
}

.apache {
  .hljs-tag, .hljs-cbracket {
    color: #800;
  }
}

.tex {
  .hljs-command, .hljs-special {
    color: #800;
  }
}

.erlang_repl .hljs-function_or_atom, .asciidoc .hljs-header, .markdown .hljs-header, .coffeescript .hljs-attribute {
  color: #800;
}

.smartquote, .hljs-comment, .hljs-annotation, .diff .hljs-header, .hljs-chunk, .asciidoc .hljs-blockquote, .markdown .hljs-blockquote {
  color: #888;
}

.hljs-number, .hljs-date, .hljs-regexp, .hljs-literal, .hljs-hexcolor {
  color: #080;
}

.smalltalk {
  .hljs-symbol, .hljs-char {
    color: #080;
  }
}

.go .hljs-constant, .hljs-change, .lasso .hljs-variable, .makefile .hljs-variable, .asciidoc .hljs-bullet, .markdown .hljs-bullet, .asciidoc .hljs-link_url, .markdown .hljs-link_url {
  color: #080;
}

.hljs-label, .hljs-javadoc, .ruby .hljs-string, .hljs-decorator, .hljs-filter .hljs-argument, .hljs-localvars, .hljs-array, .hljs-attr_selector, .hljs-important, .hljs-pseudo, .hljs-pi, .haml .hljs-bullet, .hljs-doctype, .hljs-deletion, .hljs-envvar, .hljs-shebang, .apache .hljs-sqbracket, .nginx .hljs-built_in, .tex .hljs-formula, .erlang_repl .hljs-reserved, .hljs-prompt, .asciidoc .hljs-link_label, .markdown .hljs-link_label, .vhdl .hljs-attribute, .clojure .hljs-attribute, .asciidoc .hljs-attribute, .lasso .hljs-attribute, .coffeescript .hljs-property, .hljs-phony {
  color: #88f;
}

.hljs-keyword, .hljs-id, .hljs-title, .hljs-built_in, .css .hljs-tag, .hljs-javadoctag, .hljs-phpdoc, .hljs-dartdoc, .hljs-yardoctag, .smalltalk .hljs-class, .hljs-winutils, .bash .hljs-variable, .apache .hljs-tag, .hljs-type, .hljs-typename, .tex .hljs-command, .asciidoc .hljs-strong, .markdown .hljs-strong, .hljs-request, .hljs-status {
  font-weight: bold;
}

.asciidoc .hljs-emphasis, .markdown .hljs-emphasis {
  font-style: italic;
}

.nginx .hljs-built_in {
  font-weight: normal;
}

.coffeescript .javascript, .javascript .xml, .lasso .markup, .tex .hljs-formula {
  opacity: 0.5;
}

.xml {
  .javascript, .vbscript, .css, .hljs-cdata {
    opacity: 0.5;
  }
}

/*
 *github.com style (c) Vasily Polovnyov <vast@whiteants.net> */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
  -webkit-text-size-adjust: none;
}

.hljs-comment, .diff .hljs-header, .hljs-javadoc {
  color: #998;
  font-style: italic;
}

.hljs-keyword, .css .rule .hljs-keyword, .hljs-winutils, .nginx .hljs-title, .hljs-subst, .hljs-request, .hljs-status {
  color: #333;
  font-weight: bold;
}

.hljs-number, .hljs-hexcolor, .ruby .hljs-constant {
  color: #008080;
}

.hljs-string, .hljs-tag .hljs-value, .hljs-phpdoc, .hljs-dartdoc, .tex .hljs-formula {
  color: #d14;
}

.hljs-title, .hljs-id, .scss .hljs-preprocessor {
  color: #900;
  font-weight: bold;
}

.hljs-list .hljs-keyword, .hljs-subst {
  font-weight: normal;
}

.hljs-class .hljs-title, .hljs-type, .vhdl .hljs-literal, .tex .hljs-command {
  color: #458;
  font-weight: bold;
}

.hljs-tag {
  color: #000080;
  font-weight: normal;

  .hljs-title {
    color: #000080;
    font-weight: normal;
  }
}

.hljs-rules .hljs-property, .django .hljs-tag .hljs-keyword {
  color: #000080;
  font-weight: normal;
}

.hljs-attribute, .hljs-variable, .lisp .hljs-body {
  color: #008080;
}

.hljs-regexp {
  color: #009926;
}

.hljs-symbol, .ruby .hljs-symbol .hljs-string, .lisp .hljs-keyword, .clojure .hljs-keyword, .scheme .hljs-keyword, .tex .hljs-special, .hljs-prompt {
  color: #990073;
}

.hljs-built_in {
  color: #0086b3;
}

.hljs-preprocessor, .hljs-pragma, .hljs-pi, .hljs-doctype, .hljs-shebang, .hljs-cdata {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.diff .hljs-change {
  background: #0086b3;
}

.hljs-chunk {
  color: #aaa;
}
