$sidebar-footer-height: 30px

.main-screen > .sidebar
  :width 30%
  :padding
    :top 48px
    :right 8px
    :left 5px
    :bottom $sidebar-footer-height + 1px
  max-height: 100%
  :position relative
  :overflow-y hidden
  > .resize-handler
    :position absolute
    :top 0
    :right 0
    :bottom 0
    :background #999
    :width 2px
    :cursor move
  > .databases
    position: absolute
    top: 0
    left: 0
    box-sizing: border-box
    padding: 2px 5px
    width: 100%
    :border-bottom 1px solid #d1d1d1
    label
      :display block
      +unselectable
    .heroku-mode
      span, a
        display: block
  > .tables
    height: auto
    max-height: 100%
    overflow: auto
    > *:last-child
      margin-bottom: 3px
    > ul
      > li
        +system-text
        > span
          :display block
          :background rgba(#000, 0.1)
          :font-weight bold
          +system-text
        > ul
          :display none
          li
            :padding-left 5px
            &:hover
              :background rgba(#000, 0.1)
            &.selected
              :background rgba(#038, 0.15)
        &.open
          > ul
            :display block
  > ul.extras
    :position absolute
    bottom: 0
    left: 0px
    background: #f5f5f5
    width: 100%
    height: $sidebar-footer-height
    :border-top 1px solid #ccc
    box-sizing: border-box
    padding: 0 5px
    width: 100%
    li
      :padding 2px 0
      +system-text
      display: inline-block
      width: $sidebar-footer-height
      text-align: center
      cursor: pointer
      a
        display: inline-block
        width: 100%
      &:hover
        :background rgba(#000, 0.1)
      &.active
        +gradient(rgba(#038, 0.15), rgba(#05a, 0.15))

  > .tables, > ul.extras
    :display none
  &.database-selected
    > .tables, > ul.extras
      :display block
