name: Build/release

on: push

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v1

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: Install Linux Dependencies
        run: sudo apt-get install -y rpm bsdtar
        if: ${{ runner.os == 'Linux' }}

      - name: Build/release app
        uses: samuelmeuli/action-electron-builder@v1
        with:
          github_token: ${{ secrets.github_token }}
          release: ${{ startsWith(github.ref, 'refs/tags/v') }}

      - name: List Files
        shell: bash
        run: ls dist

      - name: Upload Postbird.dmg
        uses: actions/upload-artifact@v2
        with:
          name: Postbird.dmg
          path: dist/*.dmg
        if: ${{ runner.os == 'macOS' }}

      - name: Upload Postbird_setup.exe
        uses: actions/upload-artifact@v2
        with:
          name: Postbird_setup.exe
          path: dist/*.exe
        if: ${{ runner.os == 'Windows' }}

      - name: Upload Postbird-win.zip
        uses: actions/upload-artifact@v2
        with:
          name: Postbird-win.zip
          path: dist/*.zip
        if: ${{ runner.os == 'Windows' }}

      - name: Upload Postbird-win.zip
        uses: actions/upload-artifact@v2
        with:
          name: Postbird-win.zip
          path: dist/*.zip
        if: ${{ runner.os == 'Windows' }}

      - name: Upload Postbird.snap
        uses: actions/upload-artifact@v2
        with:
          name: Postbird.snap
          path: dist/*.snap
        if: ${{ runner.os == 'Linux' }}

      - name: Upload Postbird.AppImage
        uses: actions/upload-artifact@v2
        with:
          name: Postbird.AppImage
          path: dist/*.AppImage
        if: ${{ runner.os == 'Linux' }}

      - name: Upload Postbird.deb
        uses: actions/upload-artifact@v2
        with:
          name: Postbird.deb
          path: dist/*.deb
        if: ${{ runner.os == 'Linux' }}

      - name: Upload Postbird.rpm
        uses: actions/upload-artifact@v2
        with:
          name: Postbird.rpm
          path: dist/*.rpm
        if: ${{ runner.os == 'Linux' }}

      - name: Upload Postbird.pacman
        uses: actions/upload-artifact@v2
        with:
          name: Postbird.pacman
          path: dist/*.pacman
        if: ${{ runner.os == 'Linux' }}

      - name: Upload Postbird.apk
        uses: actions/upload-artifact@v2
        with:
          name: Postbird.apk
          path: dist/*.apk
        if: ${{ runner.os == 'Linux' }}

